// COLORS
$primary-color: #52e509;
$secondary-color: #92ff9f;

$white-color: #181717;

$dark-grey: #006117;
$light-grey: #d3d3d3;

$dark-blue-text: #b3b3b6; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
